<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AJAX Homework</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="row mt-3">
             <div class="col-2"></div>
        <div class="col-8">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              {% block title %}
              {% endblock %}
                <div>
                    <a href="http://127.0.0.1:8000/work1_travel/" class="me-2">作業1</a>
                    <a href="http://127.0.0.1:8000/work2_work3_register/">作業2、3</a>
                </div>
            </div>
            <div class="card-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </div>
        <div class="col-2"></div>
        </div>
       
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>